.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#vars:hover {
  text-decoration: underline;
  cursor: pointer;
}
